<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="SampleValue1" value="https://testwebservices.multinet.com.tr/wcf/MultiTravelService" />
    <add key="SampleValue2" value="8021017d86f64a21972a37f4be533d01" />
  </appSettings>
</configuration>